.header{    
    &__content {
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 20.5px 0 25.5px;
    }
}

.menu {
    &__list {
        display: flex;
        column-gap: 64px;
    }
    &__item {        
        @include item-hover($logoColor);

        @include item-active($titleColor);
    }
}
.link-anchor {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}


.logo {

}
