@mixin item-hover($color){
    &:hover {
        color:$color;
    }  
}

@mixin item-active($color){
    &:active {

        color:$color;
    }
}

@mixin skill-card($color){
    &:hover{
        .skill-card__icon{
            fill: $color;
        }

        .skill-card__button{
            border-color: $color;
        }
    }
}