.main-title {
    color: $logoColor;
    font-size: 64px;
    font-weight: 900;
}
.subtitle {
    font-size: 40px;
    font-weight: 700;
}

.context__title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}